# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\private\blade\host\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
